.cd img {
  width: 100%;
  float: left;
  border-radius: 50px;
}

.play-control {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding: 7px 5px;
}

.play-control .title {
  margin-left: 10px;
  color: #111;
}

.play-control .title .sub {
  color: #666;
}

.control-song ion-icon {
  font-size: 25px;
}

.control-song > div {
  padding: 0 10px;
}
