.bcard {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-weight: 600;
  width: 49%;

  & ion-icon {
    background-image: linear-gradient(180deg, #0093e9 58%, #28aefc 100%);
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 3px;
    color: #fff;
  }
}

.profile .row {
  width: 100%;
  margin: 0;
  justify-content: space-between;
}
