.bcard {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.16);
  width: 49%;
  font-size: 1rem;

  & ion-icon {
    background-image: linear-gradient(180deg, #0093e9 58%, #28aefc 100%);
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 3px;
    color: #fff;
  }
}

.profile {
  padding-top: 100px;
  background-color: #37075d;
  color: #fff;
}

.profile .row {
  width: 100%;
  margin: 0;
  justify-content: space-between;
}
