@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.search-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90px;

  ion-icon {
    animation: spin 1s linear infinite;
  }
}
