.artist-page {
  padding-top: 7em;
  background-color: #37075d;
  color: #fff;

  & img.thumbnail {
    width: 100%;
    border-radius: 5px;
  }

  .artist-name {
    font-size: 15px;
    margin-top: 5px;
  }
}
