.playlist {
  min-height: 200px;
}

.playlist ion-icon {
  font-size: 18px !important;
}

// .playlist > .title {
//   margin-left: 10px;
// }

.playlist-item {
  width: 150px;
  height: max-content;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  flex-basis: 150px;
  flex-grow: 0;
  flex-shrink: 0;
  font-weight: 500;

  &:last-child {
    margin-right: 0;
  }

  & img {
    width: 100%;
    border-radius: 5px;
  }

  & ion-icon {
    color: #fff;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 25px !important;
  }

  & .title {
    font-size: 15px;
    margin-top: 5px;
    white-space: normal;
  }
}

.playlist-array {
  height: 100%;
  overflow-y: hidden;
  /* widt; */
  overflow-x: scroll;
  white-space: nowrap;
  // padding-left: 10px;
  display: flex;
}

.playlist-array::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.thumnail-box {
  float: left;
  position: relative;
  margin-bottom: 5px;
}
