.playlist ion-icon {
  font-size: 18px !important;
}

.playlist > .title {
  margin-left: 10px;
}

.playlist-item {
  width: 150px;
  height: 150px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.playlist-item:last-child {
  margin-right: 0;
}

.playlist-item img {
  width: 100%;
  border-radius: 5px;
}

.playlist-item ion-icon {
  color: #fff;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 25px !important;
}

.playlist-item .title {
  font-size: 15px;
  margin-top: 5px;
}

.album-list {
  height: 100%;
  overflow-y: hidden;
  /* widt; */
  overflow-x: scroll;
  white-space: nowrap;
  padding-left: 10px;
}

.album-list::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
