.homepage {
  padding-top: 60px !important;
  background-repeat: no-repeat;
  background-size: 100% 100% !important;
  position: relative;
  color: #fff;
  background: #37075d;
  backdrop-filter: blur(50px);
}

.homepage::after {
  content: "";
  z-index: -1;
  top: 0;
  /* background: red; */
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
}

.bannerSkeleton {
  width: 100%;
  padding-bottom: 52.24%;
}
